<div style="color:black;">
<center>
	<h1 style="font-size:64px; font-weight: bold;">Homepage</h1>

	<p style="font-size:36px;>
	<a href= "/checkOnUsers"></a> <br>
	<a href= "/checkOnUsers">Check On Users</a>
	<br>
	<a href= "/sendNotification">Send Notification to all users</a>
	<br> 
	<a href= "/depolyment">Set/Check depolyment</a>	
	</p>
	</center>
</div>
