<div style="color:black;">
<div class="container">
  <form action="/admin/Deployment" method="post">
    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" class="form-control" name="country" aria-describedby="CountryHelp" placeholder="Country">
    </div>
    <div class="form-group">
      <label for="region">Region</label>
      <input type="text" class="form-control" name="region" aria-describedby="RegionHelp" placeholder="Enter Region">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
</div>