<div style="color:black;"><center>
<h1>Check on users</h1>
<div class="container">
  <div class="row">

      {{#each allUsers}}<center>
        <div class="post-preview col-xs-12">
            <h2 class="post-title">
             <br>
              <div class="col-xs-12">
                <ul>{{this.firstName}} {{this.lastName}} {{this.status}} <br> </ul> <br>
              </div>
            </h2>
        </div>
                   
        </center>
     {{/each}}

   </div>
  </div></center>
</div>