<div style="color:black;">
<h1>Check on users</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{#each allUsers}}
        <div class="post-preview col-xs-12">
            <h2 class="post-title">
              <div class="col-xs-4">
                {{this.firstname}} {{this.lastName}}
              </div>
            </h2>
          </a>
            <p1 class="col-xs-5">{{this.deploymentType}}</p1>
          
            <h1 style="color:green;">{{this.status}}<h1>
          
        </div>
        <br>
        
     {{/each}}
    </div>
   </div>
  </div>
</div>