<div class="container">
  <form action="/boardcast" method="post">
    <div class="form-group">
      <label for="type">Type</label>
      <input type="text" class="form-control" name="type" aria-describedby="typeHelp" placeholder="Type">
    </div>
    <div class="form-group">
      <label for="region">Region</label>
      <input type="text" class="form-control" name="region" aria-describedby="regionHelp" placeholder="Region">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="description" class="form-control" name="email" aria-describedby="descriptionHelp" placeholder="Enter description">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
